* {
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #5A2FA0;
    padding: 0px 10px;
    border-radius: 0px 0px 25px 25px;
}

.hidden {
    display: none;
}

.wrap-logo {
    display: flex;
    align-items: center;
}

.wrap-logo img {
    width: 200px;
}

.header a {
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 10px;
}

.header a.logo {
    font-size: 28px;
    border-radius: 4px;
    margin-right: 10px;
}

.header h1.center {
    color: #ffffff;
    float: none;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
}

nav {
    display: flex;
    align-items: center;
}

.authorization_main {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.authorization_block {
    width: 25vw;
    background: linear-gradient(146.7deg, #8E449F 33.72%, #37186B 100%);
    border-radius: 25px 25px 25px 25px;
    position: absolute;
}

.authorization_box {
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
    display: grid;
}

.authorization_box_input {
    width: 21vw;
    resize: vertical;
    padding: 1.5vh;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 7vh;
    margin-top: 2vh;
    font-size: 1.1vw;
    color: black;
}

.authorization_box_input_1 {
    width: 21vw;
    resize: vertical;
    padding: 1.5vh;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 7vh;
    margin-top: 3vh;
    font-size: 1.1vw;
    color: black;
}

.authorization_box_input_color {
    width: 21vw;
    border-radius: 15px;
    border: 0;
    background-color: #DED5EC;
    height: 7vh;
    margin-top: 2vh;
    font-size: 1.1vw;
    color: black;
    position: relative;
}

.authorization_box_input_color p {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 1.1vw;
    margin-left: 1vw;
    transform: translate(0, -50%)
}

.authorization_box_input_2 {
    width: 21vw;
    resize: vertical;
    padding: 1.5vh;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 7vh;
    margin-top: 2vh;
    font-size: 1.1vw;
    color: black;
}

.margin_button {
    margin-bottom: 2.5vh;
}

.margin_top {
    margin-top: 2.5vh;
}

.authorization_box_button {
    margin: auto;
}

.input_block {
    margin-bottom: 3vh;
}

.input_block_1 {
    margin-bottom: 3vh;
    margin-top: 0;
}

.input_error {
    margin-top: 5px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 12px;
}

.authorization_box_button_ {
    border-color: #ffffff;
    color: #ffffff;
    width: 18vw;
    height: 7vh;
    float: left;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1vw;
    border: 2px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    margin:auto;
}

.button_come {
    border-color: #ffffff;
    color: #ffffff;
    width: 18vw;
    height: 7vh;
    float: left;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1vw;
    border: 2px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    margin: auto;
}

.authorization_box button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.authorization_cap {
    padding-top: 2vh;
    color: #ffffff;
    font-size: 5vh;
}

.authorization_cap img {
    width: 18vw;
    cursor: pointer;
}



label input {
    display: none;
    color: #ffffff;
    font-size: 2vh;
}

label span {
    margin-top: 0.3vh;
    height: 1.5vh;
    width: 1.5vh;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 3px;
}

[type=checkbox]:checked+span:before {
    content: '\2714';
    position: absolute;
    top: -1vh;
    left: 0;
    font-size: 2vh;
    color: #ffffff;
}

label {
    color: #ffffff;
    font-size: 2vh;
}

label a {
    color: #E5D4FF;
    font-size: 2vh;
}

.labelText {
    margin-left: 5px;
    display: inline-block;
}

.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}